
/* component DropZone */
.drop-zone {
  text-align: center;
  padding: 20px;
  border: 1px rgb(13,110,253) dashed;
  margin: auto;
  border-radius: 1%;
}

.pointer {
  cursor: pointer;
  color: rgb(2, 117, 216);
}

.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50%;
}

.page-container {
  position: relative;
  min-height: 100vh;
}