
/* component DropZone */
.drop-zone {
  text-align: center;
  padding: 20px;
  border: 1px rgb(13,110,253) dashed;
  margin: auto;
  border-radius: 1%;
}

.pointer {
  cursor: pointer;
  color: rgb(2, 117, 216);
}